<section class="gallery-area ptb-100">
      <div class="container-fluid">
        <div class="section-title">
          <span>Projects</span>
          <h2>Our Project Gallery</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="gallery-slider owl-carousel owl-theme">
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery1.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Renovation</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery2.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Roofing</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery3.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Electrical</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery4.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Repair</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery5.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Plumbing</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery1.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Renovation</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery2.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Roofing</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery3.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Electrical</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery4.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Repair</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="gallery-item">
            <div class="image">
              <a href="project-details.html">
                <img src="{{ asset('frontend/img/gallery/gallery5.jpg') }}" alt="image" />
              </a>
            </div>
            <div class="content">
              <h3>
                <a href="project-details.html">Plumbing</a>
              </h3>
              <div class="icon">
                <a href="project-details.html">
                  <i class="las la-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
