<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="stylesheet" href="{{ asset('frontend/css/bootstrap.min.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/animate.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/meanmenu.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/line-awesome.min.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/flaticon.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/nice-select.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/owl.carousel.min.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/owl.theme.default.min.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/odometer.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/magnific-popup.min.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/css/style.css') }}">

            <link rel="stylesheet" href="{{ asset('frontend/assets/css/responsive.css') }}">
            <link rel="icon" type="image/png" href="{{ asset('frontend/assets/img/favicon.png') }}">

        
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
        
            {% endblock %}

            {% block footer %}
        
            {% endblock %}
        
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('frontend/js/jquery.min.js') }}"></script>

            <script src="{{ asset('frontend/js/popper.min.js') }}"></script>

            <script src="{{ asset('frontend/js/bootstrap.min.js') }}"></script>

            <script src="{{ asset('frontend/js/jquery.meanmenu.js') }}"></script>

            <script src="{{ asset('frontend/js/owl.carousel.min.js') }}"></script>

            <script src="{{ asset('frontend/js/odometer.min.js') }}"></script>

            <script src="{{ asset('frontend/js/jquery.appear.js') }}"></script>

            <script src="{{ asset('frontend/js/jquery.magnific-popup.min.js') }}"></script>

            <script src="{{ asset('frontend/js/jquery.nice-select.min.js') }}"></script>

            <script src="{{ asset('frontend/js/jquery.ajaxchimp.min.js') }}"></script>

            <script src="{{ asset('frontend/js/form-validator.min.js') }}"></script>

            <script src="{{ asset('frontend/js/contact-form-script.js') }}"></script>

            <script src="{{ asset('frontend/js/wow.min.js') }}"></script>

            <script src="{{ asset('frontend/js/main.js') }}"></script>
        
        {% endblock %}
    </body>
</html>
