{% extends "base.html.twig" %}

{% block title %}
    Projets | details
{% endblock %}

{% block body %}

    {% include "partials/header.html.twig" %}
    <div class="page-title-area item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Details Projet</h2>
                        <ul>
                            <li>
                                <a href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li>Detail projet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="project-details-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="project-details-image">
                        <img src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt="{{projet.image}}" style= "width: 640px; height: 480px;">
                    </div>
                    <div class="projects-details-desc">
                        <h3>{{projet.titre}}</h3>
                        <p>{{projet.description|raw}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area" id="secondary">
                        <section class="widget widget_projects_info">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="las la-map-marker"></i>
                                    </div>
                                    <span>Lieu:</span>
                                    {{projet.lieu}}
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="las la-check"></i>
                                    </div>
                                    <span>Date début:</span>
                                    {{projet.debutProjet|date('d-m-Y')}}
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="las la-check"></i>
                                    </div>
                                    <span>Date fin:</span>
                                    {{projet.finProjet|date('d-m-Y')}}
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="las la-globe"></i>
                                    </div>
                                    <span>SiteWeb:</span>
                                    <a href="" target="_blank">{{projet.siteweb}}</a>
                                </li>
                            </ul>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/footer.html.twig" %}
    
{% endblock %}